<div class="main-nav-fixed">
    <div class="container">
        <!-- <div class="logo-mobile">
            <img src="../../../assets/logo-mobile.png" alt="logo" />
        </div> -->
        <div class="logo navbar-brand">
            <img src="../../../assets/logo.png" alt="logo" />
        </div>
        <ul class="main-nav me-auto" [class]="menuWeb? 'menuMobile':'menuWeb'">
            <li><a [routerLink]="['/courses']" routerLinkActive="active"><span>Courses</span></a></li>
            <li><a [routerLink]="['./certificates']" routerLinkActive="active"><span>Certificates</span></a></li>
            <li><a [routerLink]="['./catalogs']" routerLinkActive="active"><span>Catalogs</span></a></li>
        </ul>
        <div class="main-nav-side">
            <div class="menubars">
                <a class="ms-2 me-3" (click)="menuExpand()" role="button" [class]="faBars? 'faClose':'faBars'">
                    <i class="fa fa-bars"></i>
                    <span class="fa fa-close"></span>
                </a>
            </div>
            <div class="btn-group" dropdown placement="bottom right">
                <a class="c-drop-btn" id="button-animated" dropdownToggle type="button">
                    <i class="fa fa-user-circle"></i>
                </a>
                <ul id="dropdown-animated" *dropdownMenu class="c-dropdown dropdown-menu dropdown-menu-right"
                    role="menu" aria-labelledby="button-animated">
                    <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-user"></i>My Profile</a></li>
                    <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-lock"></i>Change Password</a>
                    </li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Logout</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>