@mixin dFlexStretch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

@mixin dFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin vCenter {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-nav-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 97;
  height: 65px;
  background-color: #3367ab;
  @include dFlexStretch();

  .container {
    @include dFlexStretch();
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.main-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  @include dFlexStretch();

  li {
    @include dFlex();
    @include vCenter();
    padding: 0 .5rem;
    list-style: none;

    a {
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      cursor: pointer;
      padding: .75rem 1.25rem;
      -webkit-border-radius: .75rem;
      border-radius: .75rem;
      text-decoration: none;
      font-size: 14px;

      span {
        color: #ddd;
        font-weight: 500;
      }

      &:hover span {
        color: #fff;
      }
    }

    .active {
      background: rgba(255, 255, 255, 0.2);

      span {
        color: #fff;
      }
    }


  }


}

.main-nav-side {
  @include dFlex();
  @include vCenter();
  padding: 0;
}

.c-dropdown {
  right: 0 !important;
  min-width: 150px;
  z-index: 22;

  .dropdown-item {
    padding: 0.7rem 1.2rem;

    i {
      color: #666;
      padding-right: 8px;
    }

    &:focus {
      background-color: #e9ecef;
    }
  }
}

.c-drop-btn {
  font-size: 24px;
  color: #FFF;
}


.logo-mobile {
  display: none;
  padding: 5px 0;

  img {
    max-height: 45px;
  }
}

.menubars {
  display: none;
  margin-right: 5px;

  a {
    font-size: 22px;
    color: #FFF;
  }
}

@media (max-width:992px) {
  .main-nav-fixed {
    height: 50px;
  }

  .main-nav {
    z-index: 1001;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #FFF;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    left: -245px;
    width: 230px;
    display: block;
    padding: 8px 0;
    border-right: 1px solid #DDD;

    li {
      padding: 0;
      margin: 3px;

      a {
        display: block;
        width: 100%;
        padding: .75rem 0.75rem;
        -webkit-border-radius: .3rem;
        border-radius: .3rem;

        span {
          color: #545454;
        }

        &:hover span {
          color: #3367ab;
        }
      }

      .active {
        // background: #3367ab;

        span {
          color: #3367ab;
        }
      }
    }


  }

  .faBars {
    span {
      display: none;
    }
  }

  .faClose {
    i {
      display: none;
    }
  }

  .menuMobile {
    left: 0;
  }

  .logo-mobile {
    display: block;
  }

  .menubars {
    display: block;
  }
}
