<div class="page-title">
    <h1>Courses<span> - 1500 Items</span></h1>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="custom-panel filter-position">
            <div class="custom-panel-body">
                <div class="card filters">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Domains</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Acquistion
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Analytics
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Financial Management
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Grants
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Leadeership Management
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Project Management
                                    </span>
                                </label>
                            </div> <!-- /CARD BODY -->
                        </div>
                    </article> <!-- /CARD GROUP ITEM -->
                </div>
                <!-- /FILTERS CARD -->
                <div class="card filters">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Virtual Readiness</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        1. None
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        2. Nominal
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        3. Moderate
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        4. Sustantial
                                    </span>
                                </label>
                            </div> <!-- /CARD BODY -->
                        </div>
                    </article> <!-- /CARD GROUP ITEM -->
                </div>
                <!-- /FILTERS CARD -->
                <div class="card filters">
                    <article class="card-group-item">
                        <header class="card-header">
                            <h6 class="title">Class Type</h6>
                        </header>
                        <div class="filter-content">
                            <div class="card-body">
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Onsite (Private)
                                    </span>
                                </label>
                                <label class="form-check">
                                    <input class="form-check-input" type="checkbox" value="">
                                    <span class="form-check-label">
                                        Open Enrollment
                                    </span>
                                </label>
                            </div> <!-- /CARD BODY -->
                        </div>
                    </article> <!-- /CARD GROUP ITEM -->
                </div>
                <!-- /FILTERS CARD -->
                <div class="form-group mb-3">
                    <label for="frameWork">Frame Work</label>
                    <input type="text" class="form-control" id="frameWork" placeholder="Frame Work">
                </div>
                <div class="form-group">
                    <label for="group">Group</label>
                    <input type="text" class="form-control" id="group" placeholder="Group">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="custom-panel">
            <div class="custom-panel-body">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>1070 - Contracting Officer's Representaion</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>All the Lorem Ipsum generators</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content...
                            </p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Can you help translate this site into a foreign language</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical..</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Finibus Bonorum et Malorum</h4>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                interested.</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Where does it come from?</h4>
                            <p>There are many variations of passages of Lorem Ipsum available,</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>All the Lorem Ipsum generators</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content...
                            </p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Can you help translate this site into a foreign language</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text.</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Finibus Bonorum et Malorum</h4>
                            <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those
                                interested.</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>1070 - Contracting Officer's Representaion</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>All the Lorem Ipsum generators</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content...
                            </p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Can you help translate this site into a foreign language</h4>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                                piece of classical..</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Where does it come from?</h4>
                            <p>There are many variations of passages of Lorem Ipsum available,</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>Where does it come from?</h4>
                            <p>There are many variations of passages of Lorem Ipsum available,</p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="f-card">
                            <h4>All the Lorem Ipsum generators</h4>
                            <p>It is a long established fact that a reader will be distracted by the readable content...
                            </p>
                            <a href="#" class="text-primary me-4">Substantial</a>
                            <a href="#" class="text-danger">Onsite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>