@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body,
html {
  font-size: 14px;
  font-weight: 400;
  font-family: Poppins, Helvetica, sans-serif;
}

body {
  background-color: #f3f7fb;
}

.clear,
.clearfix {
  clear: both;
}

@media (max-width:992px) {
  .container,
  .container-fluid,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: none;
    padding: 0 15px;
  }
}
